In [2]:
mat = matrix(c(1:9), 3, 3, T)
mat

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [5]:
apply(mat, 1, sum)
apply(mat,2,mean)

[1]  6 15 24

[1] 4 5 6

In [6]:
str(mat)

 int [1:3, 1:3] 1 4 7 2 5 8 3 6 9

In [7]:
summary(mat)

       V1            V2            V3
 Min.   :1.0   Min.   :2.0   Min.   :3.0
 1st Qu.:2.5   1st Qu.:3.5   1st Qu.:4.5
 Median :4.0   Median :5.0   Median :6.0
 Mean   :4.0   Mean   :5.0   Mean   :6.0
 3rd Qu.:5.5   3rd Qu.:6.5   3rd Qu.:7.5
 Max.   :7.0   Max.   :8.0   Max.   :9.0

In [12]:
lapply(mat,function(a) a/2)

[[1]]
[1] 0.5

[[2]]
[1] 2

[[3]]
[1] 3.5

[[4]]
[1] 1

[[5]]
[1] 2.5

[[6]]
[1] 4

[[7]]
[1] 1.5

[[8]]
[1] 3

[[9]]
[1] 4.5

In [14]:
mapply(sum,mat,mat)

[1]  2  8 14  4 10 16  6 12 18

In [23]:
vapply(mat,function(a) a/2,numeric(1))

[1] 0.5 2.0 3.5 1.0 2.5 4.0 1.5 3.0 4.5