In [17]:
#seq(1,100,3)

agg = aggregate(iris[,1:4],by=list(iris$Species),FUN=sum, 
               F)
agg

  Group.1    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     250.3        171.4        73.1         12.3
2 versicolor 296.8        138.5       213.0         66.3
3 virginica  329.4        148.7       277.6        101.3