In [38]:
path <- "home/lincon/data/output.csv"
s = strsplit(path,"/")

sub("output", "new", path)
gsub("t", "d", path)

df = data.frame(c(1:12),c(rep("one",12)))

with(df, {c = c(12:24); df})
within(df,{c = c(12:24); df})

[1] "home/lincon/data/new.csv"

[1] "home/lincon/dada/oudpud.csv"

   c.1.12. c.rep..one...12..
1   1      one
2   2      one
3   3      one
4   4      one
5   5      one
6   6      one
7   7      one
8   8      one
9   9      one
10 10      one
11 11      one
12 12      one

Warning message in `[<-.data.frame`(`*tmp*`, nl, value = list(c = 12:24, c.1.12. = 1:12, :
“replacement element 1 has 13 rows to replace 12 rows”

   c.1.12. c.rep..one...12.. c
1   1      one               12
2   2      one               13
3   3      one               14
4   4      one               15
5   5      one               16
6   6      one               17
7   7      one               18
8   8      one               19
9   9      one               20
10 10      one               21
11 11      one               22
12 12      one               23